/* CSS for modern login page */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.form-control {
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
}

.btn {
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    width: 100%;
}

.btn:hover {
    background-color: #3e8e41;
}

.btn-logout {
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    margin-top: 20px;
}

.btn-logout:hover {
    background-color: #3e8e41;
}

ul {
    list-style: disc; /* or circle, square, etc. */
    padding: 0;
    margin-left: 30px;
}

li {
    margin-bottom: 10px;
}

label.checkbox {
    display: block;
    margin-bottom: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="checkbox"] + span {
    font-size: 14px;
}